html {
  background-color: rgb(61, 52, 52);
  color: white;
}

div {
  background-color: rgb(61, 52, 52)!important;
  margin: 1rem;
}

form {
  margin: 1rem;
}

button {
  margin-left: 1rem;
}

input {
  margin: 0 1rem;
}
